{% extends 'inc/base.html.twig' %}

{% block title %}Account{% endblock %}

{% block main %}

    <h1>{{ app.user.username }}</h1>

    <h2>Manage Your Account</h2>

    <p>Change your password <a href="{{ path('change_password') }}">here</a>.</p>

    <h2>Highest Level Achieved</h2>

    <p>{{ app.user.highestLevel }}</p>

    <h2>Scores</h2>

    <table>

        <tr>
            <th>Score</th>
            <th>Date</th>
        </tr>

        {% for score in app.user.scores %}
            <tr>
                <td>{{ score.score }}</td>
                <td>{{ score.date|date('m/d/Y') }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
