{% extends 'inc/base.html.twig' %}

{% block title %}Account{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('assets/style/account.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main>
        <div class="wrapper">

            <div class='username-wrapper'>

                <h1 class='username'>{{ app.user.username }}</h1>

            </div>

            <div class='highlights'>
            
                <div class="highlight-item">
                
                    <span class="account-score">{{ app.user.highestLevel }}</span>
                
                    <span>Highest Level Reached</span>
                
                </div>

                <div class="highlight-item">

                    <span class="account-score">{{ app.user.highestScore }}</span>
                
                    <span>Highest Score Achieved</span>
                
                </div>
            
            </div>

            <p>Change your password <a href="{{ path('change_password') }}">here</a>.</p>

        </div>
    </main>

{% endblock %}
