{% extends 'inc/base.html.twig' %}

{% block title %}Highscores{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/style/table.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <main>
        <div class="wrapper">

            <h1>Highscores</h1>

            <table>
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                    <th>Level</th>
                    <th>Date</th>
                </tr>

                {% for score in scores %}

                    <tr>
                        <td>{{ score.user.username }}</td>
                        <td>{{ score.score }}</td>
                        <td>{{ score.level }}</td>
                        <td>{{ score.createdAt|date('m/d/Y') }}</td>
                    </tr>

                {% endfor %}
            </table>

        </div>
    </main>

{% endblock %}