{% extends 'inc/base.html.twig' %}
{% form_theme registrationForm _self %}

{% block title %}Play STYC{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/style/game/game.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <div id="game-container"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/script/game/Globals.js') }}"></script>
    <script src="{{ asset('assets/script/game/Player.js') }}"></script>
    <script src="{{ asset('assets/script/game/Enemy.js') }}"></script>
    <script src="{{ asset('assets/script/game/Database.js') }}"></script>
    <script src="{{ asset('assets/script/game/Game.js') }}"></script>
    <script src="{{ asset('assets/script/game/STYC.js') }}"></script>
{% endblock %}