{% extends 'inc/base.html.twig' %}
{% form_theme changePasswordForm _self %}

{% block title %}Change Your Password{% endblock %}

{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {{- form_label(form) -}}
    <br>
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/style/form.css') }}" rel="stylesheet">
{% endblock %}


{% block main %}
    <main>
        <div class="wrapper">
    
            {{ form_start(changePasswordForm, {
                attr: { 
                    id: 'changePasswordForm',
                    class: 'app-form' 
                    }
            }) }}

                <h1>Change Your Password</h1>
                
                {{ form_row(changePasswordForm.currentPassword, {
                    attr: {
                            class: 'form-input',
                            placeholder: 'Current Password'
                        }
                }) }}

                {{ form_row(changePasswordForm.newPassword, {
                    attr: {
                            class: 'form-input',
                            placeholder: 'New Password'
                        }
                }) }}

                {#{{ form_widget(changePasswordForm) }}#}

                <button class="form-submit" type="submit">Submit</button>
            {{ form_end(changePasswordForm) }}

        </div>
    </main>
{% endblock %}