{% extends 'inc/base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/style/post.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <main>
        <div class="wrapper">

            <div class="post">
                <div class="post-header">
                    
                    <h1>{{ post.title }}</h1>
                    
                    <span>{{ post.createdAt|ago }}</span><br>
                    <span>by {{ post.author.username }}</span>                    

                </div>
                <div class="post-body">

                    

                    <p>{{ post.content }}<p>

                </div>
            </div>

        </div>
    </main>
{% endblock %}