{% extends 'inc/base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <main>
        <div class="wrapper">

            <h1>{{ post.title }}</h1>

            <p>{{ post.content }}<p>

            <p>by {{ post.author.username }}</p>
            
            <p>{{ post.createdAt|date('m/d/Y')}}</p>


        </div>
    </main>
{% endblock %}