<header>
    <nav>
        <ul>
            <li><a href="{{ path('index') }}">Home</a></li>
            <li><a href="{{ path('highscores') }}">Highscores</a></li>
            <li><a href="{{ path('login') }}">Log In</a></li>
            <li><a href="{{ path('logout') }}">Log Out</a></li>
            {# <li><a href="{{ path('play') }}">Play</a></li> #}
        </ul>
    </nav>
</header>