<header>
    <nav>
        <ul>
            <li><a href="{{ path('index') }}">Home</a></li>
            <li><a href="{{ path('highscores') }}">Highscores</a></li>
            <li><a href="{{ path('play') }}">Play</a></li>

            {% if is_granted('ROLE_USER') %}
                

                {% if is_granted('ROLE_ADMIN') %}
                
                    <li><a href="{{ path('admin_index') }}">Dashboard</a></li>

                {% endif %}

                <li><a href="{{ path('logout') }}">Log Out</a></li>

            {% else %}

                <li><a href="{{ path('login') }}">Log In</a></li>
                <li><a href="{{ path('register') }}">Register</a></li>

            {% endif %}

        </ul>
    </nav>
</header>