<header>
    <div class="wrapper">
        <nav>
            <div>
                <a href="{{ path('index') }}">Home</a>
                <a href="{{ path('news_index') }}">News</a>
                <a href="{{ path('highscores') }}">Highscores</a>
                <a href="{{ path('play') }}">Play</a>
            </div>
            
            <div>
                {% if is_granted('ROLE_USER') %}

                    {% if is_granted('ROLE_ADMIN') %}
                    
                        <a href="{{ path('admin_index') }}">Dashboard</a>

                    {% endif %}
                    
                    <a href="{{ path('account') }}">Account</a>

                    <a href="{{ path('logout') }}">Log Out</a>

                {% else %}

                    <a href="{{ path('login') }}">Log In</a>
                    <a href="{{ path('register') }}">Register</a>

                {% endif %}
            </div>
        </nav>
        
        <h1>Slash Till You Crash</h1>

        <a class="playBtn" href="{{ path('play') }}">
            PLAY NOW
        </a>

    </div>
</header>